body{
  padding: 0px;
  margin: 0px;
}

.gambar{
  margin-left: 80px;
  margin-top: 20px;
}

.side{
  float: left;
  width: 20%;
  background-color: black;
}

h5{
  color: red;
  font-weight: 900;
  border: 2px solid red;
  width: 55px;
}

i{
  color: #FFA500;
}

b, p{
  color: white;
}

.name{
  padding-left: 25px;
}
#name{
  padding-left: 50px;
}

.gambar{
  border-radius: 50px;
  width: 200px;
  height: 150px;
  margin-left: 20px;
}

.main{
  margin-top: 100px;
  float: left;
  width: 80%;
}

.main h1{
  width: 1000px;
  border-radius: 50px;
  color: white;
  background-color: black;
  margin-left: 50px;
  padding-left: 20px;
}

.main p{
  font-family: Arial;
  padding-left: 50px;
  color : brown;
}
.main b{
  font-family: Arial;
  padding-left: 50px;
  color: blue;
}

.main ul{
  padding-left: 100px;
}
